{% autoescape off %}
Hi {{ user.get_full_name|default:user.username }},

You're receiving this email because you requested a password reset for your AI Curriculum account.

Please go to the following page and choose a new password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Your username is: {{ user.username }}

If you didn't request this password reset, please ignore this email. Your password won't be changed.

Thanks for using AI Curriculum!

The AI Curriculum Team
{% endautoescape %}
